<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="layouts/base-layout :: head">
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <nav th:replace="layouts/base-layout :: nav"></nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <form th:action="@{/admin/save-album}" th:object="${album}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" th:field="*{title}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Artista</label>
                        <input type="text" th:field="*{artist}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Género</label>
                        <input type="text" th:field="*{genre}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Año de lanzamiento</label>
                        <input type="date" placeholder="Año" th:field="*{date}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Carátula</label>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-secondary">Guardar album</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>