<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts/base-layout :: head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <nav th:replace="layouts/base-layout :: nav"></nav>
    <div class="alert alert-success text-center" th:if="${savedComment !=null}" th:text="${savedComment}"></div>
    <div class="alert alert-success text-center" th:if="${commentEdited !=null}" th:text="${commentEdited}"></div>
    <div class="alert alert-success text-center" th:if="${commentDeleted !=null}" th:text="${commentDeleted}"></div>
    <div class="album-container">
        <div class="galery-item" th:each="item : ${albums}">
            <a th:href="@{/albums/see-comments/} +${item.id}">
                <img th:src="@{'/uploads/'+${item.folder}}" class="img-fluid" />
            </a>

            <h4 th:text="${item.title}"></h4>
        </div>
    </div>
</body>

</html>